
/*-------------------------------------Index par Sandra Css par Iléona-------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CCFAFF;   /*---#CCFAFF---*/
    width: 100%;
    height: 100%;
}

.navbar {
  width: 90%;
  border-radius: 1.25rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  position: absolute;
}

.navbar .logo img {
  height: 7rem;
  margin-left: 1rem;
  cursor: pointer;
  width: auto;
}

.navbar nav ul {
  display: flex;
  list-style: none;
  gap: 2vw;
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
  text-decoration: underline;
  color: #E98555;;
}

/* Hero Section */
.hero-section {
  width: 100%;
  position: relative;
}

.volcan-image-container {
  position: relative;
  width: 100%;
}

.volcan-image {
  display: flex;
  max-height: 100vh;
  width: 100%;
}

/* Texte à droite */
.texte {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 60%;
}

.texte h2 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.sous-titre {
  font-weight: 400;
  margin-bottom: 1.8rem;
  font-size: 1.1rem;
}

.boxici .title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: rgb(39, 29, 29);
}

.btn-ici {
  background: #E98555;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  transition: text-decoration 0.3s ease;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 1.8rem;
  display: inline-block;
}

.btn-ici:hover {
  background: rgb(212, 121, 41);
}


/*---------------------------------media queries ------------------------------------*/

@media screen and (width <=768px) {

  .volcan-image {
    display: none;
  }

  .texte {
    position: static;
    text-align: center;
    transform: translateY(30vh);
    padding: 2rem;
  }

  .navbar nav ul li a {
    font-size: 1rem;
    color: black;
  }

  .navbar .logo img {
    height: 4rem;
    margin-left: 2rem;
  }

  body {
    background-color:#a9badb
  }

}