/*-------------------------Iléona-------------------------*/
.partie4 {
    position: relative;
    min-height: 100vh;
    z-index: 200;
}
/*-------------------------Image fond-------------------------*/
.part4-base {
    width: 100%;
    display: block;
}

/*-------------------------Particule et cendre-------------------------*/
.cendre {
    width: 1.5rem;
    position: absolute;
    z-index: 210;
}

#cendre-montante {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to top, #3a3737, #3a3737d9, transparent);
}


#particule-container {
    position: absolute;
    inset: 0; /* équivalent de right, top, left et bottom à 0 */
}

/*-------------------------Texte-------------------------*/
.part4-narration2{
    position: absolute;
    z-index: 250;
    text-align: center;
    padding: 2rem 8rem;
    color: aliceblue;
}

/*-------------------------Responsive-------------------------*/
@media screen and (width <=768px) {
    .part4-narration2{
        padding: 1rem 2rem;
        font-size: 0.9rem;
    }

    .cendre {
        width: 0.5rem;
    }

    #cendre-montante {
        display: none;
    }

}