/* -------------------- Section 2 - Sandra -------------------- */

.partie2 {
    position: relative;
    width: 100vw;
    height: 3105px;
}

.part2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.part2 img {
    position: absolute;
    width: 100%;
}

.boxTransition2 {
    position: relative;
    width: 100%;
    height: 110vh;
    background-color: #A0655A;
}


/* -------------------- Section 2 - Sandra -------------------- */

.partie22 {
    position: relative;
    width: 100vw;
    height: 3105px;
}

.part22 {
    position: relative;
    width: 100%;
    height: 100%;
}

.part22 img {
    position: absolute;
    width: 100%;
}

.boxTransition22 {
    position: relative;
    width: 100%;
    height: 110vh;
    background-color: #264258;
}


/*------------------------media-queries-----mon cauchemar apparament---------------------------*/


