/* -------------------- Section 1 - Sandra -------------------- */


.partie1 {
    position: relative;
    height: 300vh;
}

.part1 {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 20, 243, 0.842); debug */

}

.narration {
    position: absolute;
    z-index: 100;
    width: 40%;
    margin-left: 30%;
    text-align: center;
}

.part1 img {
    position: absolute;
    width: 100%;
}

.part1 .bgCiel {
    z-index: 0;
    width: 100%;
    height: auto;
}

.part1 .nar1 {
    top: 10%;
}

.part1 .nuage {
    z-index: 2;
    width: auto;
    height: auto;
}

.part1 .n1{
    top: 16%;
    left: 16%;
}

.part1 .n2{
    top: 32%;
    left: 46%;
}

.part1 .n3{
    top: 32%;
    left: -2%;
    transform: rotate(-11deg);
}

.part1 .n4{
    top: 51%;
    left: 66%;
}

.part1 .volcan {
    position: absolute;
    z-index: 10;
    bottom: 7%;
    transform: scale(3.5);
    transform-origin: bottom center;
}

.part1 .boxBottom {
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 8%;
    background-color: #6b8b6b;
    left: 0;
    bottom: 0;
}

.part1 .nar2 {
    top: 40%;
}

.part1 .ville {
    position: absolute;
    opacity: 0;
    bottom: 0;
    width: 100%;
}

.part1 .v1 {
    z-index: 12;
    opacity: 0;
}

.part1 .v2 {
    z-index: 14;
    opacity: 0;
}

.part1 .v3 {
    z-index: 16;
    opacity: 0;
}

.part1 .nar3 {
    opacity: 0;
}


/*------------------------media-queries-----mon cauchemar apparament---------------------------*/


