.partie3 {
  position: relative;
  z-index: 60;
}

.part3-base {
    width: 100%;
    display: block;
    position: relative;
    z-index: 30;
}

.part3-nuee {
    position: absolute;
    z-index: 40;
    opacity: 0;
    top: -60%;
    left: 0;
    width: 100%;
}

.box-narration1{
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 50;
}
.rectangle-texte1{
    width: 100%;
    height: 110vh;
    background-color: #A0655A;
    position: relative;
}

.part3-narration1{
    position: absolute;
    color: aliceblue;
}

