* {
    margin: 0;
    padding: 0;
    /*-----border pour visualiser les positions----afficher au besoin-----*/
    /* border: 2px solid red; */
}

body {
    width: 100%;
    height: 1000vh;
    overflow-x: hidden;
}

p {
    font-family: "Gentium-plus";
    font-size: 2rem;
    font-weight: bold;
}

