/* -------------------- Section 2 - Sandra -------------------- */

.partie2 {
    position: relative;
    width: 100vw;
    height: 300vh;
}

.part2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.boxTransition2 {
    position: relative;
    width: 100%;
    height: 110vh;
    background-color: #A0655A;
}

.nar4 {
    position: absolute;
    z-index: 26;
    top: 15%;
    opacity: 1;
    color: aliceblue;
}

.part2 .bgCiel2 {
    position: relative;
    width: 100%;
}

.ville2 {
    position: absolute;
    z-index: 30;
    width: 100%;
    height: auto;
    opacity: 0;
}

.part2 .panache2 {
    position: absolute;
    z-index: 29;
    width: 100%;
    opacity: 0.1;
    top: -61%;
}



/* -------------------- Section 2 - Sandra -------------------- */

.partie22 {
    position: relative;
    width: 100vw;
    height: 3105px;
}

.part22 {
    position: relative;
    width: 100%;
    height: 100%;
}

.part22 img {
    position: relative;
    width: 100%;
}

.boxTransition22 {
    position: relative;
    width: 100%;
    height: 110vh;
    background-color: #87cfa8;
}


/*------------------------media-queries-----mon cauchemar apparament---------------------------*/


