*{
    margin: 0;
    padding: 0;
}

body{
    height: 1000vh;
}

.nuee{
    position: fixed;
    top: 0;
    left: 0;
}
.square{
    height: 100px;
    background : aquamarine;
    position: fixed;
    top: 0;
    left: 0;
}