/* -------------------- Section 2 - Sandra -------------------- */

.partie2 .boxEspace {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(247, 193, 193);
}


/*------------------------media-queries-----mon cauchemar apparament---------------------------*/


