/* -------------------- Section 1 - Sandra -------------------- */


.partie1 {
    position: relative;
    height: 300vh;
    width: 100vw;
}

.part1 {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 20, 243, 0.842); debug */

}

.narration {
    position: absolute;
    z-index: 100;
    width: 40%;
    margin-left: 30%;
    text-align: center;
}

.part1 img {
    position: absolute;
    width: 100%;
}

.part1 .nar0 {
    top: 3%;
    color: #F3EBEB;
}

.part1 .nar1 {
    top: 10%;
}

.part1 .nuage {
    z-index: 2;
    width: auto;
}

.part1 .n1 {
    top: 16%;
    left: 16%;
}

.part1 .n2 {
    top: 32%;
    left: 46%;
}

.part1 .n3 {
    top: 32%;
    left: -2%;
    transform: rotate(-11deg);
}

.part1 .n4 {
    top: 51%;
    left: 66%;
}

.part1 .volcan {
    position: absolute;
    z-index: 10;
    bottom: 7%;
    transform: scale(3.5);
    transform-origin: bottom center;
}

.part1 .boxBottom {
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 8%;
    background-color: #6b8b6b;
    left: 0;
    bottom: 0;
}

/*-----ville---------------------*/
.part1 .nar2 {
    top: 75%;
    opacity: 0;
}

.part1 .ville {
    position: absolute;
    opacity: 0;
    bottom: 0;
    width: 100%;
}

.part1 .v1 {
    z-index: 12;
    opacity: 0;
}

.part1 .v2 {
    z-index: 14;
    opacity: 0;
}

.part1 .v3 {
    z-index: 16;
    opacity: 0;
    transform: scale(1.3);
}

/*-----section 1.1----balcon-----------*/
.part11 {
    position: relative;
    width: 100vw;
    height: 221vh;
}

.boxTransition {
    position: relative;
    width: 100%;
    height: 110vh;
    background-color: rgb(40, 38, 49);
    z-index: 20;
}

.nar3 {
    position: absolute;
    z-index: 24;
    top: 20%;
    opacity: 1;
    color: aliceblue;
}

.balcon {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.cracks {
    position: absolute;
    opacity: 0;
    z-index: 26;
    width: 100%;
    top: 50%;
}


/*------------------------media-queries-----mon cauchemar apparament---------------------------*/


@media screen and (width <=768px) {

    
    .narration {
        width: 90%;
        margin-left: 5%;
        font-size: 0.9em;
    }

    .part1 .nuage {
        z-index: 2;
        width: 70%;
    }


    /*-----ajuster scale volcan----et n2 pour le trigger-------------*/

    .part1 .volcan {
        transform: scale(2.5);
    }

    .part1 .n2 {
        top: 65%;
    }

    .nar3 {
        top: 40%;
    }


    .part11 {
        position: relative;
        width: 100vw;
        height: 140vh;
    }

    .balcon {
    bottom: 1%;
    }


    .cracks {
        top: 79%;
    }

}