/* -------------------- Section 2 - Sandra -------------------- */

.partie2 {
    position: relative;
    width: 100vw;
    height: 3105px;
}

.part2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.boxTransition2 {
    position: relative;
    width: 100%;
    height: 110vh;
    background-color: #A0655A;
}

.nar4 {
    position: absolute;
    z-index: 26;
    top: 20%;
    opacity: 1;
    color: aliceblue;
}

.part2 img {
    position: relative;
    width: 100%;
}



/* -------------------- Section 2 - Sandra -------------------- */

.partie22 {
    position: relative;
    width: 100vw;
    height: 3105px;
}

.part22 {
    position: relative;
    width: 100%;
    height: 100%;
}

.part22 img {
    position: relative;
    width: 100%;
}

.boxTransition22 {
    position: relative;
    width: 100%;
    height: 110vh;
    background-color: #87cfa8;
}


/*------------------------media-queries-----mon cauchemar apparament---------------------------*/


