* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 1000vh;
}


.part3-base {
    width: 100%;
}

.part3-nuee {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    opacity: 0;
}