/* -------------------- Section 2 - Sandra -------------------- */

.partie2 {
    position: relative;
    width: 100vw;
    height: 400vh;
}

.part2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.boxTransition2 {
    position: relative;
    width: 100%;
    height: 110vh;
    background-color: #A0655A;
}

.nar4 {
    position: absolute;
    z-index: 26;
    top: 15%;
    opacity: 1;
    color: aliceblue;
}

.nar5 {
    position: absolute;
    z-index: 31;
    top: 40%;
    opacity: 1;
    color: rgb(0, 0, 0);
}


.part2 .bgCiel2 {
    position: relative;
    width: 100%;
    transform: rotate(180deg);
}

.ville2 {
    position: absolute;
    z-index: 30;
    width: 100%;
    height: auto;
    opacity: 0;
}

 .panache2 {
    position: absolute;
    z-index: 29;
    width: 100%;
    opacity: 0.1;
    top: -47%;
}

.villeSombre {
    position: absolute;
    top: 58%;
    z-index: 40; /*-------------probleme de chevauchement-----*/
    width: 100vw;
    opacity: 0.5;
}





/*------------------------media-queries-----mon cauchemar apparament---------------------------*/


@media (max-width: 300px) {


    }