/* -----section 1 ----- Sandra ----- */
.narration1 img {
    width: 100%;
}

.narration1 .nuage {
    width: auto;
    height: auto;
}

.narration1 .oiseaux {
    width: auto;
    height: auto;
}


.narration1 .volcan {
    width: 100%;
    height: auto;
    scale: 4;
    transform-origin: bottom center;
    bottom: 0;
}


